<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="bower_components/normalize-css/normalize.css"/>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="css/style.css"/>
  <!-- Angular -->
  <script src="bower_components/angular/angular.js"></script>
  <!-- Dagre d3 -->
  <script src="bower_components/lodash/lodash.min.js"></script>
  <script src="bower_components/graphlib/dist/graphlib.core.js"></script>
  <script src="bower_components/dagre/dist/dagre.core.js"></script>
  <script src="bower_components/d3/d3.js"></script>
  <script src="bower_components/dagre-d3/dist/dagre-d3.core.js"></script>

  <!-- App -->
  <script src="js/app.js"></script>
  <script src="js/d3.dataGraph.js"></script>
  <script src="js/services/bus.js"></script>
  <script src="js/services/data.js"></script>
  <script src="js/controllers/panelCtrl.js"></script>
  <script src="js/directives/graph.js"></script>
  <script src="js/utils/enums.js"></script>
</head>
<body ng-app="graphEditor">
<div id="graph-editor">
  <div class="container-fluid">
    <div class="row" ng-controller="PanelCtrl">
      <button type="button" ng-if="editMode" ng-click="deleteNode()" class="btn btn-danger"><span
            class="glyphicon glyphicon-trash"></span></button>
    </div>
    <graph>
      <svg>
        <g/>
      </svg>
    </graph>
  </div>
</div>
</body>
</html>