<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="bower_components/normalize-css/normalize.css"/>
  <!-- Do wyrzucenia po przejściu na angular-material -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="bower_components/font-awesome-css/css/font-awesome.css"/>
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
  <link rel="stylesheet" href="css/style.css"/>
  <!-- Angular -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <!-- Dagre d3 -->
  <script src="bower_components/lodash/lodash.min.js"></script>
  <script src="bower_components/graphlib/dist/graphlib.core.js"></script>
  <script src="bower_components/dagre/dist/dagre.core.js"></script>
  <script src="bower_components/d3/d3.js"></script>
  <script src="bower_components/dagre-d3/dist/dagre-d3.core.js"></script>
  <!-- Do wyrzucenia po przejściu na angular-material -->
  <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>

  <!-- App -->
  <script src="js/app.js"></script>
  <script src="js/d3.dataGraph.js"></script>
  <script src="js/services/bus.js"></script>
  <script src="js/services/data.js"></script>
  <script src="js/services/stateManager.js"></script>
  <script src="js/controllers/panelCtrl.js"></script>
  <script src="js/controllers/graphCtrl.js"></script>
  <script src="js/directives/visualLinker.js"></script>
  <script src="js/utils/enums.js"></script>
  <script src="js/utils/extensions.js"></script>
</head>
<body ng-app="graphEditor">
<div id="graph-editor">
  <div class="container-fluid">
    <div id="panel" class="row" ng-controller="PanelCtrl">
      <button type="button" ng-if="inEditMode()" ng-click="deleteNode()" class="btn btn-danger"><span
            class="glyphicon glyphicon-trash"></span></button>

      <button type="button" ng-click="addNode()" class="btn btn-success"><span
            class="glyphicon glyphicon-plus"></span></button>

      <button type="button" ng-if="inEditMode()" ng-click="enterLinkingMode()" class="btn btn-primary">
        <span class="glyphicon glyphicon-link"></span></button>

      <button class="btn btn-warning" ng-if="inEditMode()" ng-click="editNodeData()"><i class="fa fa-pencil"></i></button>

      <div class="btn-group" uib-dropdown uib-keyboard-nav ng-if="inEditMode()">
        <button id="edgesDropdown" type="button" class="btn btn-default" uib-dropdown-toggle>
          Przejścia dla stanu <span class="caret"></span>
        </button>
        <ul class="uib-dropdown-menu" role="menu" aria-labelledby="edgesDropdown">
          <li ng-repeat="edge in activeNodeEdges" data-edge="{{edge.id}}">
            <a href="#" ng-mouseenter="highlightEdge(edge._index)" ng-mouseleave="unhighlightEdges()">
              <button class="btn-xs btn-danger" ng-click="deleteEdge(edge._index)">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
              <span>Z "{{ edge.v.name }}" do "{{ edge.w.name }}"</span>
            </a>
          </li>
        </ul>
      </div>

      <button class="btn btn-info" ng-if="isUndoAvaliable()" ng-click="undo()">Cofnij <i class="fa fa-undo"></i></button>

      <div layout="column" ng-if="inEditNodeDataMode()" ng-cloak class="node-detail-panel md-whiteframe-3dp">
        <md-toolbar class="md-active">
          <div class="md-toolbar-tools">
            <h2>Nagłówek</h2>
          </div>
        </md-toolbar>
        <md-content flex layout-padding>
          Tu będzie formularz z danymi węzła
        </md-content>
      </div>

    </div>
    <div id="graph-container" ng-controller="GraphCtrl" ng-cloak>
      <svg id="editor-canvas">
        <g id="linker-overlay" visual-linker ng-if="linkingMode()"></g>
        <g id="inner"/>
      </svg>
    </div>
  </div>
</div>
</body>
</html>